@import '../../index.scss';
.Sidebar{
    background-color: $azul;
    border-right: 2px solid white;
    box-shadow:  0 17px 8px #1a161654;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(15, 1fr);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    transition-duration: 0.2s;
        .item{
            display: grid;
            color: white;
            h2{
                display: none;
            }
            button{
                background-color: transparent;
                border: none;
                @include for-phone-only{
                    display: none;
                }
            }
            img{
                width: 4rem;
                margin: auto;
            }
        }
    }
    .logout{
        grid-row: 15;
        button{
            background-color: transparent;
            border: none;
        }
        img{
            width: 60%;
        }
    }
.close{
    width: 3vw;
}
.open{
    width: 10vw;
    .item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;

        h2{
            text-align: left;
            display: inline-block;
        }
    }
}