@import '../../index.scss';
.Login{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/wave.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
    .logo{
        width: 30rem;
        position: absolute;
        top: -10rem;
    }
    h1{
        text-align: center;
        color: $azul;
        margin-bottom: 3rem;
    }
    .box{
        margin-left: 10%;
        border-radius: 1rem;
        box-shadow: $sombra1;
        padding: 6rem 2rem;
        background-color: white;
    }
}